html, body, #root {
  background: repeating-linear-gradient(45deg, #EEE 0%, #EEE 10%, #EEE 0%, #FFF 20%) 0 / 15px 15px;
  background-color: $white !important;
  line-height: 1.5;
  margin: 0 !important;
  font-family: Bai Jamjuree;
}
